body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(117, 117, 255);
    border-radius: 5px;
    
}

header {
    height: 150px;
    background-image: url('kepek/indexkep1.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding-top: 50px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    
}

h1 {
    background-color: rgb(82, 70, 70);
    margin: 0 auto;
    border-radius: 50px;
    width: 350px;
    overflow: hidden;
    transition: transform 0.3s;
}
h1:hover{
    transform: scale(1.1);
    
}
.containertext {
    display: flex;
    background-color: rgb(117, 117, 255);
}

.container {
    display: flex;
    background-color: rgb(117, 117, 255);
    padding-bottom: 50px;
    
}

.containermenu {
    
    display: flex;
    background-color: rgb(117, 117, 255);
}

.progalapContainer {
    display: flex;
    align-items: left;
}

.kepekContainer {
    display: block;
    align-items: right;
    
}
.kepekContainerA {
    display: block;
    align-items: right;
}


.kepek1{
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 250px;
    width: 350px;
    
    background-image: url('kepek/archpc1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 5px 10px grey;
}

.kepek2 {
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 250px;
    width: 350px;
    
    background-image: url('kepek/archpc2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 5px 10px grey;
}

.kepek3 {
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 250px;
    width: 350px;
    
    background-image: url('kepek/archpc3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 5px 10px grey;
}

.kepek4{
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 250px;
    width: 350px;
    
    background-image: url('kepek/archpc4.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 5px 10px grey;
}

.contentText1 {
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
    width: 650px;
    background-color: #a19db5;
    border-radius: 20px;
    box-shadow: 5px 10px grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.contentText2 {
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
    width: 650px;
    background-color: #a19db5;
    border-radius: 20px;
    box-shadow: 5px 10px grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

.contentText3 {
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
    width: 650px;
    background-color: #a19db5;
    border-radius: 20px;
    box-shadow: 5px 10px grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.p{
    font-style: italic;
    font-weight: bolder;
}

.textbox {
    width: 200px;
    flex: 1;
    height: 50px;
    margin: 20px;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    font-weight: bolder;
}

.prog {
    width: 200px;
    flex: 1;
    height: 25px;
    margin: 5px;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    font-weight: bolder;
}

.box {
    width: 200px;
    flex: 1;
    height: 200px;
    margin: 20px;
    text-align: center;
    overflow: hidden;
    border: 20px;
}

.box:hover{
    transform: scale(1.1);
    
}


.box:nth-child(1) {
    background-image: url('kepek/Calap.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s;
}
.box:nth-child(2) {
    background-image: url('kepek/arch.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s;
}
.box:nth-child(3) {
    background-image: url('kepek/progterv.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s;
}

.footer {
    color: white;
    text-align: center;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: #302E3B;
    padding-top: 10px;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    animation: fadeOut 2s ease-out forwards; 
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite, fadeOut 3s ease-out forwards; 
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}
